@using System.Data.Sql;
@using System.Data.SqlClient;

@{
    Validation.RequireField("first_name", "First name is required.");
    Validation.RequireField("last_name", "Last name is required.");
    Validation.RequireField("contact_number", "Contact number is required.");
    Validation.RequireField("email", "Email is required.");
    Validation.RequireField("username", "User name is required.");
    Validation.RequireField("password", "Password is required.");
    Validation.RequireField("password_confirmation", "Confirm password.");


    var Fname = Request.Form["first_name"];
    var Lname = Request.Form["last_name"];
    var Contact = Request.Form["contact_number"];
    var Email = Request.Form["email"];
    var Username = Request.Form["username"];
    var Pass = Request.Form["password"];
    var Passconf = Request.Form["password_confirmation"];
    string connString = "Server=KOALA;Database=Koalaborate;Trusted_Connection=True;";
    SqlDataReader rdr = null;

    SqlConnection conn = new SqlConnection(connString);
    if (IsPost && Validation.IsValid())
    {


        try
        {
            // 2. Open the connection


            conn.Open();

            // 3. Pass the connection to a command object
            SqlCommand cmd = new SqlCommand("Select * from Userinfo where Username=@username", conn);
            cmd.Parameters.AddWithValue("username", Username);

            //
            // 4. Use the connection
            //

            // get query results
            rdr = cmd.ExecuteReader();

            // print the CustomerID of each record
            if (rdr.Read())
            {


                <script>alert("Username is already used.")</script>

            }
            else
            {


                if (Pass == Passconf)
                {


                    string iQuery = "INSERT INTO Userinfo (FirstName,LastName,ContactNumber,EmailAdd,Username,Password ) VALUES (@first_name, @last_name,@contact_number,@email,@username,@password)";

                    using (SqlConnection iConn = new SqlConnection(connString))
                    {
                        using (SqlCommand iComm = new SqlCommand(iQuery, iConn))
                        {
                            iComm.Parameters.AddWithValue("first_name", Fname);
                            iComm.Parameters.AddWithValue("last_name", Lname);
                            iComm.Parameters.AddWithValue("contact_number", Contact);
                            iComm.Parameters.AddWithValue("email", Email);
                            iComm.Parameters.AddWithValue("username", Username);
                            iComm.Parameters.AddWithValue("password", Pass);

                            try
                            {
                                iConn.Open();
                                iComm.ExecuteNonQuery();
                                Response.Redirect("~/index");


                            }
                            catch (Exception)
                            {
                                throw;
                            }
                            finally
                            {
                                iConn.Close();
                            }
                        }
                    }
                    //---------------------------------------------------------------------------------


                    //----------------------------------------------------------------------------------

                }
                else
                {

                    <script>alert("Password does not match.")</script>

                }
            }
        }
        finally
        {
            // close the reader
            if (rdr != null)
            {
                rdr.Close();
            }

            // 5. Close the connection
            if (conn != null)
            {
                conn.Close();
            }
        }

        /*--------------------------------------------------------------------------------------------------------------*/






    }




}


<!DOCTYPE html>
<html lang="en">

<head>




    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Koalaborate</title>

    <!-- Bootstrap Core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="~/Content/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="~/Content/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->







</head>

<body>

    <div id="wrapper" style="padding-left:0; ">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="height:70px;">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.cshtml">
                    <img src="Images/Koalalogo1.png" style="position:absolute;height:50px;margin-top:-5px;" />
                </a>


            </div>

        </nav>
    </div>
    <!-- Top Menu Items -->
    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
    <!-- /.navbar-collapse -->


    <div id="page-wrapper">

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <br />
                    <br />
                    <br />

                    <div class="container">

                        <div class="row">
                            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                                <form role="form" method="post">
                                    <h2>Please Sign Up <small>It's free and always will be.</small></h2>
                                    <hr class="colorgraph">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6 col-md-6">
                                            <div class="form-group">
                                                <input type="text" name="first_name" id="first_name" class="form-control input-lg" placeholder="First Name" tabindex="1" value="@Request.Form["first_name"]">
                                                @Html.ValidationMessage("first_name", new { @style = "font-weight:bold;color:red;!important" })
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-6">
                                            <div class="form-group">
                                                <input type="text" name="last_name" id="last_name" class="form-control input-lg" placeholder="Last Name" tabindex="2" value="@Request.Form["last_name"]">
                                                @Html.ValidationMessage("last_name", new { @style = "font-weight:bold;color:red;!important" })
                                            </div>
                                        </div>


                                    </div>
                                    <div class="form-group">
                                        <input type="number" name="contact_number" id="contact_number" class="form-control input-lg" placeholder="Contact Number" tabindex="3" value="@Request.Form["contact_number"]">
                                        @Html.ValidationMessage("contact_number", new { @style = "font-weight:bold;color:red;!important" })
                                    </div>
                                    <div class="form-group">
                                        <input type="email" name="email" id="email" class="form-control input-lg" placeholder="Email Address" tabindex="4" value="@Request.Form["email"]">
                                        @Html.ValidationMessage("email", new { @style = "font-weight:bold;color:red;!important" })
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="username" id="username" class="form-control input-lg" placeholder="Username" tabindex="5" value="@Request.Form["username"]">
                                        @Html.ValidationMessage("username", new { @style = "font-weight:bold;color:red;!important" })
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6 col-md-6">
                                            <div class="form-group">
                                                <input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password" tabindex="6" value="@Request.Form["password"]">
                                                @Html.ValidationMessage("password", new { @style = "font-weight:bold;color:red;!important" })
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-6">
                                            <div class="form-group">
                                                <input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-lg" placeholder="Confirm Password" tabindex="7" value="@Request.Form["password_confirmation"]">
                                                @Html.ValidationMessage("password_confirmation", new { @style = "font-weight:bold;color:red;!important" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-4 col-sm-3 col-md-3">
                                            <span class="button-checkbox">
                                                <button type="button" class="btn" data-color="info" tabindex="8">I Agree</button>
                                                <input type="checkbox" name="t_and_c" id="t_and_c" class="hidden" value="1">
                                            </span>
                                        </div>
                                        <div class="col-xs-8 col-sm-9 col-md-9">
                                            By clicking <strong class="label label-primary">Register</strong>, you agree to the <a href="#" data-toggle="modal" data-target="#t_and_c_m">Terms and Conditions</a> set out by this site, including our Cookie Use.
                                        </div>
                                    </div>

                                    <hr class="colorgraph">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-6"><input type="submit" value="Register" class="btn btn-primary btn-block btn-lg" tabindex="8"></div>
                                        <div class="col-xs-12 col-md-6"><a href="index.cshtml" class="btn btn-success btn-block btn-lg">Sign In</a></div>
                                    </div>
                                </form>

                            </div>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="t_and_c_m" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        <h4 class="modal-title" id="myModalLabel">Terms & Conditions</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">I Agree</button>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->
                    </div>
                    <br />
                    <br /><br />

                </div>
            </div>

            <!-- /.row -->

        </div>
        <!-- /.container-fluid -->

    </div>

    <!-- /#page-wrapper -->
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="js/plugins/morris/raphael.min.js"></script>
    <script src="js/plugins/morris/morris.min.js"></script>
    <script src="js/plugins/morris/morris-data.js"></script>

</body>

</html>
